<h1>ORM Model</h1>
<div style="position:absolute;top:95px;left:340px;">
<img id="imgRegenerateWorking" src="[%theme]/images/working.gif" style="display:none;vertical-align:middle"/>
   <input type="button" id="btnRegenerateClassFiles" value="(Re)generate Class Files"/>
   <span id="spnRegenerateClassFilesResult"></span>
</div>
<hr/>
<hr class="space"/>

<div class="column span-12 colborder">
	<fieldset>
	  <legend>Object: [sortedObjects;block=fieldset][@.className]</legend>
	  <p>[@.description;error='<em>No description provided</em>']</p>
	  <h5>Attributes:</h5>
	  <table>
	    <tr>
	      <th style="width:25%">Name</th>
	      <th style="width:25%">Furnace Type</th>
	      <th>Additional Information</th>
	    </tr>
	    <tr>
	      <td>[@.attributes;block=tr;noerror][@.name]</td>
	      <td>[@.type]</td>
	      <td>[@.description;error='<em>n/a</em>']</td>
	    </tr>
	  </table>
	  <h5>Relations:</h5>
	  <table>
	    <tr>
	      <th style="width:25%">Name</th>
	      <th style="width:25%">Remote Object</th>
	      <th>Type</th>
	      <th>Intermediate</th>
	    </tr>
	    <tr>
	   	  <td>[@.relations;block=tr;noerror][@.localName]</td>
	   	  <td>[@.remoteObjectClassName]</td>
	      <td>
	      	[@.remoteType;map='1|One,M|Many';error='?']
	      	<span style="font-size:1.6em;">&rarr;</span>
	      	[@.localType;map='1|One,M|Many';error='?']</td>
	      <td>[@.lookupObjectClassName;error='<em>n/a</em>']</td>
	    </tr>
	  </table>
	</fieldset>
</div>

<div class="column span-11 last">
<h5 style="margin-top:10px;">Database Schema Status:</h5>
<table>
  <tr>
    <td style="width:50px;vertical-align:top;" rowspan="2">
    	[tables;block=table]
    	<img src="[assert:!@.tableExists;block=self][%theme]/images/db/table-missing.jpg" 
    		 style="height:48px;vertical-align:top;"/>
    	<img src="[assert:@.tableExists;block=self][assert:@.actionRequired;block=self][%theme]/images/db/table-errors.jpg" 
    		 style="height:48px;vertical-align:top;"/>
    	<img src="[assert:@.tableExists;block=self][assert:!@.actionRequired;block=self][%theme]/images/db/table.jpg" 
    		 style="height:48px;vertical-align:top;"/>
    </td>
    <td>
    	<a href="[%a]/models/orm/synchronize/[@.name]">[@.name]</a>
    </td>
  </tr>
  <tr>
    <td>[assert:@.tableExists;block=tr]
    	<span>[assert:@.actionRequired;block=span]Action is required.&nbsp;
    	<a href="[%a]/models/orm/synchronize/[@.name]">More Information</a></span>
    </td>
  </tr>
  <tr>
    <td>[@.tableExists][assert:!@.tableExists;block=tr]
    	This table does not exist. &nbsp;
    	<a class="createTable" title="[@.name]" href="#">Create it now</a>.
    	<img class="working" src="[%theme]/images/working.gif" style="vertical-align:middle;display:none;"/>
    </td>
  </tr>
</table>
<hr class="space"/>
<hr/>

<h4>Database Schema Export</h4>
<p>Foundry can provide an SQL export of the database.</p>
<a href="[%a]/models/orm/exportModelAsSql" style="text-decoration:none;" target="_new">
	<input type="button" id="btnDbExport" value="Export Model as SQL"/>
</a>
<hr class="space"/>

</div>