<h5>Comparison Results:</h5>
<table>
  <tr>
    <td style="width:50px;vertical-align:top;" rowspan="2">
    	[tables;block=table]
    	<img src="[%theme]/images/db/table[assert:!@.tableExists;content='-missing'].jpg" 
    		 style="height:48px;vertical-align:top;"/>
    </td>
    <td>
    	<span style="text-decoration:underline;">[@.name]</span>
    </td>
  </tr>
  <tr>
    <td>[assert:@.tableExists;block=tr]
        <table>
          <tr><th style="width:25%">Fields ([@.columns.#]): </th>
              <th style="width:15%">Type</th>
              <th>Status</th>
          </tr>
          <tr><td>[@.columns;block=tr][@.name]</td>
              <td>[@.type]</td></tr>
        </table>
    </td>
  </tr>
  <tr>
    <td>[assert:!@.tableExists;block=tr]
    	This table does not exist. &nbsp;
    	<a href="#">Create it now</a>.<img src="[%theme]/images/working.gif" style="vertical-align:middle"/>
    </td>
  </tr>
</table>