<a href="[%a]/models/orm">Back to ORM</a>
<h1>Synchronize Table: [tableName]</h1>
<script type="text/javascript">
	$(document).ready(function() {

		// Handle dynamic show/hide of create/rename forms
		$('.syncRename').hide();
		$('.syncMethod').change(function(e) {
			if ($(e.target).val() == 'create') {
				$(e.target).siblings('div.syncRename').hide();
				$(e.target).siblings('div.syncCreate').show();
			} else {
				$(e.target).siblings('div.syncCreate').hide();
				$(e.target).siblings('div.syncRename').show();
			}
		});

		// Handle click action for 'create' forms
		$('.btnCreate').click(function(e) {
			$td = $(this).parent().parent();
			$td.children('img.working').show();
			table = _local.content.tableName;
			field = $(this).siblings('input.columnName').val();
			$.get(_context.urls.url_base + '/models/orm/syncCreateColumn/'
					+ table + '/' + field + '.json', {}, function(data) {
				if (data && data.success) {
					$td.html($('<img>').attr('src',_context.urls.theme_base + '/images/success.png'));
				} else {
					$td.html('error: ' + data.message);
				}
			});
		});

		// Handle click action for 'rename' forms
		$('.btnRename').click(function(e) {
			$td = $(this).parent().parent();
			$td.children('img.working').show();
			table = _local.content.tableName;
			fromField = $(this).siblings('select.fromName').val();
			toField   = $(this).siblings('input.toName').val()
			
			$.get(_context.urls.url_base + '/models/orm/syncRenameExistingColumn/'
					+ table + '/' + fromField + '/' + toField + '.json', {}, function(data) {
				if (data && data.success) {
					$td.html($('<img>').attr('src',_context.urls.theme_base + '/images/success.png'));
				} else {
					$td.html('error: ' + data.message);
				}
			});
		});

		// Handle click action for 'delete' forms
		$('.btnDelete').click(function(e) {
			$td = $(this).parent().parent();
			$td.children('img.working').show();
			table = _local.content.tableName;
			field = $(this).siblings('input.columnName').val();
			
			$.get(_context.urls.url_base + '/models/orm/syncDeleteColumn/'
					+ table + '/' + field + '.json', {}, function(data) {
				if (data && data.success) {
					$td.html($('<img>').attr('src',_context.urls.theme_base + '/images/success.png'));
				} else {
					$td.html('error: ' + data.message);
				}
			});
		});

		// Handle click action for 'apply' forms
		$('.btnApply').click(function(e) {
			$td = $(this).parent().parent();
			$td.children('img.working').show();
			table = _local.content.tableName;
			field = $(this).siblings('input.columnName').val();
		
			$.get(_context.urls.url_base + '/models/orm/syncApplyModelToColumn/'
					+ table + '/' + field + '.json', {}, function(data) {
				if (data && data.success) {
					$td.html($('<img>').attr('src',_context.urls.theme_base + '/images/success.png'));
				} else {
					$td.html('error: ' + data.message);
				}
			});
		});

		// Enable the 'create table' button
		$('#createTable').click(function(e) {
			e.preventDefault();
			
			$(this).parent().children('img.working').show();
			$.get(_context.urls.url_base + '/models/orm/createTable/'
					+ '[object.className]' + '.json',{},function(data) {
				if (data && data.success) {
					document.location.reload();
				} else if (data) {
					alert(data.message);
				} else {
					alert("There was a problem creating the table");
				}
			});
		});
		
	});
</script>
<div>[assert:!tableExists;block=div]
This table does not exist yet. 
<input type="submit" id="createTable" value="Create Table"/>
</div>
<div>[assert:tableExists;block=div]
<table>
<tr>
  <th>Field Name</th><th>Field Type</th><th>Status</th><th>Action to Take</th>
</tr>
<tr>
  <td>[columns;block=tr][@.name]</td>
  <td>[@.type;strtoupper]</td>
  <td>
  	<span>[assert:@.diffDetected;block=span]Model definition differs from database!</span>
  	<span>[assert:!@.columnExists;block=span]Field does not exist in the database!</span>
  	<span>[assert:!@.columnInModel;block=span]
  		  [assert:!@.diffDetected;block=span]Field does not exist in the model!</span>
  	<span>[assert:@.columnInModel;block=span]
  		  [assert:@.columnExists;block=span]
  		  [assert:!@.diffDetected;block=span]OK</span>
  </td>
  <td style="width:50%">
    <div>
    	<!-- HANDLE A NON-EXISTANT FIELD -->
    	[assert:!@.columnExists;block=div]
	  	<select class="syncMethod">
	  		<option value="create">Create a new field</option>
	  		<option value="rename">Rename an existing field</option>
	  	</select>
	    <div style="display:inline" class="syncCreate">
	    	<input type="hidden" class="columnName" name="columnName" value="[@.name]"/>
	    	<input type="submit" class="btnCreate" value="Create Field"/>
	    </div>
	    	
	    <div style="display:inline" class="syncRename">
	    	<input type="hidden"  class="toName" name="toName" value="[@.name]"/>
	    	<select name="toName" class="fromName">
	    		<option>Field to rename...</option>
	    		<option>[columns;block=option][@.name]</option>
	    	</select>
	    	<input type="submit" class="btnRename" value="Rename"/>
	    </div>
	    <img src="[%theme]/images/working.gif" class="working" style="vertical-align:middle;display:none;"/>
    </div>
    
    
    <div>
    	<!-- HANDLE A FIELD WITH DIFFERENCES -->
    	[assert:@.diffDetected;block=div]
	  	Apply the model definition to this field: 
	  		<input type="hidden" name="columnName" class="columnName" value="[@.name]"/>
	    	<input type="submit" class="btnApply" value="Apply"/>
	</div>
    
    <div>
    	<!-- HANDLE A FIELD NOT IN THE MODEL -->
    	[assert:!@.diffDetected;block=div]
    	[assert:!@.columnInModel;block=div]
	  	Delete the field from the table: 
	  		<input type="hidden" name="columnName" class="columnName" value="[@.name]"/>
	    	<input type="submit" class="btnDelete" value="Delete"/>
	</div>
	
	<span>[assert:@.columnInModel;block=span]
  		  [assert:@.columnExists;block=span]
  		  [assert:!@.diffDetected;block=span]n/a</span>
  </td>
</tr>
</table>
</div>