RewriteEngine On

# FUEL ASSETS
RewriteRule ^fuel/assets/((css|images|js)/(.*))$ lib/fuel/app/assets/$2/$3 [NC,L]
RewriteRule ^lib/fuel/app/assets/(.*) lib/fuel/app/assets/$1 [NC,L]

# FUEL WEBAPP
RewriteRule ^fuel/ etc/fuel.php [NC,L]
RewriteRule ^etc/(.*) etc/$1 [NC,L]

# FOUNDRY ASSETS
RewriteRule ^_furnace/assets/(.*)$		lib/foundry/app/assets/$1 	[NC,L]
RewriteRule ^lib/foundry/app/assets/(.*)	lib/foundry/app/assets/$1	[NC,L]

# FOUNDRY WEBAPP
RewriteRule ^_furnace/				etc/foundry.php			[NC,L]

# APPLICATION ASSETS
RewriteRule ^assets/((css|images|js)/(.*))$ app/assets/$2/$3 [NC,L]
RewriteRule ^app/assets/(.*) app/assets/$1 [NC,L]	

# WEBAPP
RewriteRule ^(.*)/?$ etc/app.php [NC,L]

