<div id="ff-banner">
<img id="ff-logo" src="/assets/images/_furnace/furnace-logo-big.png"/>
<div id="ff-page-content">
	<div class="ff-column-container">
		<div class="ff-column-left">
			<div class="ff-column-content">
				<h2>Quick Links:</h2>
				<ul>
				  <li><a href="/fuel/">Fuel</a> (model + data manager)</li>
				</ul>
				<h2>Reference:</h2>
				<ul>
				  <li><a href="http://tadpole.crawwler.org">Tadpole</a> (template engine)</li>
				</ul>
			</div>
		</div> 
		<div class="ff-column-main">
			<div class="ff-column-content">
				<h2>Welcome to Furnace!</h2>
				<p>
					We hope you will find that Furnace helps you build out
					your application quickly and easily. Furnace is still developing, and we 
					would greatly appreciate your feedback. If you find something confusing, poorly
					documented, or just plain broken, please let us know <a href="http://furnace.frameworkers.org/">here</a>
					so that we can continue to improve this platform.   
				</p>
				<h2>Project Details:</h2>
				<table>
				  <tr>
				    <td colspan="2">The installed root directory for your project appears to be: </td>
				  </tr>
				  <tr>
				    <td colspan="2" style="border:solid 1px #abc;"><code>[_furnace.rootdir]</code></td>
				  </tr>
				  <tr>
				    <td>Application settings are located in: </td><td><code>[rootdir]/app/config/app.yml</code></td>
				  </tr>
				  <tr>
				    <td>Controllers are located in: </td><td><code>[rootdir]/app/controllers/</code></td>
				  </tr>
				  <tr>
				    <td>Views are located in: </td><td><code>[rootdir]/app/views/</code></td>
				  </tr>
				</table>
				<h2>Getting Started:</h2>
				<p>
				As with any framework, Furnace has a few basic principles which, once understood, will allow
				you to take full advantage of its power. The latest documentation is always 
				<a href="http://docs.frameworkers.org/furnace/">available online</a> along with FAQs, tutorials, and other
				helpful material.
			</div>
				
		</div>
		<div class="ff-clr"><!-- clear --></div>
	</div>
	
</div>
</div>

<div class="pageFooter">
	Copyright &copy; 2008-2009 <a href="http://frameworkers.org/">Frameworkers.org</a>. 
	<a href="http://furnace.frameworkers.org/">Furnace</a> is free, open-source software, made available through an <a href="http://frameworkers.org/furnace/license">MIT License</a>. 
</div>