<fieldset>
  <legend>Account Security</legend>
  <table>
    <tr>
      <th>Username:</th>
      <td>[tp.user.username]</td>
    </tr>
    <tr>
      <th>Email Address:</th>
      <td>[tp.user.emailAddress]</td>
    </tr>
    <tr>
      <th>Password:</th>
      <td>
      	<form method="POST">
          (Stored) <span id="pw_normal" style="display:inline;"><input type="button" value="Change" onclick="showChangePW();"/></span>
          <span id="pw_edit"   style="display:none;">&nbsp;New Password: 
          	<input type="password" id="pw1" name="pw1"/>&nbsp;Confirm: 
          	<input type="password" id="pw2" name="pw2"/>&nbsp;
          	<input type="submit" name="changepw" value="Change Password" onclick="return validateChangePW();"/>&nbsp;
          	<input type="button" value="Cancel" onclick="cancelChangePW();"/>
          </span>
        </form>
      </td>
    </tr>
    <tr>
      <th>Secret Question:</th>
      <td><em>Not Set</em></td>
    </tr>
    <tr>
      <th>Secret Answer:</th>
      <td><em>Not Set</em></td>
    </tr>
  </table>
  
</fieldset>

<script type="text/javascript">

function showChangePW() {
	document.getElementById('pw_normal').style.display = 'none';
	document.getElementById('pw_edit').style.display   = 'inline';
	
	document.getElementById('pw1').focus();
}

function cancelChangePW() {
	document.getElementById('pw1').value='';
	document.getElementById('pw2').value='';
	
	document.getElementById('pw_edit').style.display   = 'none';
	document.getElementById('pw_normal').style.display = 'inline';
}

function validateChangePW() {

	// Test for mismatch
	var match = (document.getElementById('pw1').value == document.getElementById('pw2').value)
		?	true
		:   false;
	if (!match) {
		alert('The passwords did not match');
		return false;
	}
	
	// Test for zero-length
	var empty = (document.getElementById('pw1').value == '' ||
				 document.getElementById('pw2').value == '');
	if (empty) {
		alert('Empty passwords are not allowed.');
		return false;
	}
	
	return confirm("If you continue, you will be logged out. Simply log in again using your new password.");
}

</script>