RewriteEngine On
RewriteBase   /CHANGEME-IN-DOT-HTACCESS

# Send all other requests to the main controller
RewriteCond %{REQUEST_URI} !^.+\.(css|js|jpg|jpeg|png|gif|ico|do)$  [NC]
RewriteCond %{REQUEST_URI} !index\.php/.+$                          [NC]
RewriteRule ^(.+)$ \./index\.php/$1                                 [L,NC]
