RewriteEngine On

# The following should be set to the path (relative to the DocumentRoot) where 
# the application is installed.
# If your site is installed right at the DocumentRoot, use '/'
# if your site is installed in a subdirectory, use '/subdir'
# Do NOT include any file name (e.g.: index.php)
#
##Site installed at server's DocumentRoot
# RewriteBase /
#
##Site exists in subdirectory foo inside server's DocumentRoot
# RewriteBase /foo
#
# 
RewriteBase   /CHANGEME-IN-DOT-HTACCESS

# Send all other requests to the main controller
RewriteCond %{REQUEST_URI} !^.+\.(css|js|jpg|jpeg|png|gif|ico|do)$  [NC]
RewriteCond %{REQUEST_URI} !index\.php/.+$                          [NC]
RewriteRule ^(.+)$ \./index\.php/$1                                 [L,NC]
