<h1>Forgot Your Password?</h1>
<p>
For your added security, passwords are encrypted on our server. 
Unfortunately, this means that even we can't tell you what your
old password was. You can, however, choose a new password:
</p>

<h3>Password Reset Request:</h3>

<div>
[if:!keyReady;block=div;noerror]
<p>Please enter the email address that you gave when you registered
your account. Instructions for resetting your password will be 
emailed to this address:
</p>
<form method="POST">
<input type="hidden" name="step" value="sendInstructions"/>
<input type="text" name="pwrEmailAddress"/>
<input type="submit" value="Send Instructions"/>
<br/><br/>
</form>
</div>

<div class="success">
[if:instructionsSent;block=div;noerror] 
Instructions for changing your password have been sent to [email].
</div>


<div>
[if:keyReady;block=div;noerror]
<p>Please enter the email address that you gave when you registered
your account. Then choose a new password. 
</p>
<form method="POST">
	<input type="hidden" name="step" value="keyReady"/>
	<table class="passwordReset">
	  <tr><td>Request Key:      </td><td> <input type="text" name="pwrRequestKey" value="[key]"/></td><td>&nbsp;Please provide the reset request key you were given</td></tr>
	  <tr><td>Email Address:    </td><td> <input type="text" name="pwrEmailAddress"/></td><td> &nbsp;Please provide the email address associated with your account</td></tr>
	  <tr><td>New Password:     </td><td> <input type="password" name="pwrNewPassword"/></td><td> &nbsp;Please provide a new password for the account</td></tr>
	  <tr><td>Confirm Password: </td><td> <input type="password" name="pwrNewPassword2"/></td><td> &nbsp;Please confirm your new password</td></tr>
	  <tr><td colspan="2" style="text-align:right;"><input type="submit" value="Reset Password"/></td></tr>
	</table>
</form>



</div>