[_response.includedJavascripts]
[_response.includedStylesheets]
<div class="mainMenu">
	<ul>
	  <li><a class="[assert:activeTab='overview';content='active']" href="[%a]/">Overview</a></li>
	  <li><a class="[assert:activeTab='configuration';content='active']" href="[%a]/configuration">Configuration</a></li>
	  <li><a class="[assert:activeTab='orm';content='active']"  href="[%a]/models/orm">ORM</a></li>
	  <li><a class="[assert:activeTab='data';content='active]"  href="[%a]/data">Data</a></li>
	</ul>
</div>