<script type="text/javascript">
	function ajaxFileUpload()
	{
		$("#loading")
			.ajaxStart(function(){
				$(this).show();
			})
			.ajaxComplete(function(){
				$(this).hide();
			});

		$.ajaxFileUpload({
			url:'[ImageUploader_ajaxHandlerURL]',
			secureuri:false,
			fileElementId:'fiu-file',
			dataType: 'json',
			beforeSend:function() {
				$("#loading").show();
			},
			complete:function() {
				$("#loading").hide();
			},				
			success: function (data, status) {
				if(typeof(data.error) != 'undefined') {
					if(data.error != '') {
						alert(data.error);
					} else {
						$deleteBlock   = $('<div>').css({'position':'absolute','top':'0px','right':'0px'}).append('<a href="#">Delete</a>');
						$metadataBlock = $('<div>').css({'position':'relative'}).html(
							'<table style="width:100%;"><tr><td>' + 
									'<img class="fiu-uploadedImage" src="/images/view/'+data.imageName.thumbnail+'"/>' + 
									'<input type="hidden" name="images[]" value="'+data.imageName.fullsize+'|'+data.imageName.thumbnail+'"/>' +
									'</td><td>' +
							'<table><tr><td>Title:</td>  <td><input type="text"/></td></tr>' +
								   '<tr><td>Caption:</td><td><input type="text"/></td></tr>' +
							'</table></td></tr></table>').append($deleteBlock);
						// Append the thumbnail
						$("#fiu[ImageUploader_uploadFormName;prefix='-']-gallery").append($metadataBlock);
							
					}
				}
			},
			error: function (data, status, e) {
				alert(e);
			}
		});
		return false;
	}
</script>

<form class="fiu-ajax-multi-upload" name="[ImageUploader_uploadFormName]" id="[ImageUploader_uploadFormId]" enctype="multipart/form-data" action="[ImageUploader_uploadActionURL]" method="POST">
    <!-- MAX_FILE_SIZE must precede the file input field -->
    <input type="hidden" name="MAX_FILE_SIZE" value="[ImageUploader_maxUploadedFileSize]" />
    <input type="file" id="fiu-file" name="[ImageUploader_fileInputElementName]" />
    <input type="button" class="fiu-submit" value="Upload File" onclick="return ajaxFileUpload();" />
    <div id="loading" style="display:none;"><img src="/assets/images/busy-bar.gif" style="padding:0px;" align="middle"/> uploading...</div><br/><br/>
    <div id="fiu[ImageUploader_uploadFormName;prefix='-']-gallery">
    
    </div>
</form>