<div id="ff-banner">
<img src="/assets/images/_furnace/furnace.png"/>
<div id="ff-banner-text">
	<h1>Welcome to Furnace!</h1>
	<table>
	  <tr>
	    <td>The project root directory is: </td><td><code>[_furnace.rootdir]</code></td>
	  </tr>
	  <tr>
	    <td>Application settings are located in: </td><td><code>[rootdir]/app/config/app.yml</code></td>
	  </tr>
	  <tr>
	    <td>Controllers are located in: </td><td><code>[rootdir]/app/controllers/</code></td>
	  </tr>
	  <tr>
	    <td>Views are located in: </td><td><code>[rootdir]/app/views/</code></td>
	  </tr>
	  <tr>
	    <td>To make changes to this page, edit: </td><td><code>[rootdir]/app/views/_default/index.html</code></td>
	  </tr>
	  <tr>
	    <td colspan="2">To manage your application's model &amp; data, first set a root password in 
	    		<span class="filename">[tp.rootdir]/app/config/app.yml</span>
	    		and then visit <a href="[tp.rootdir]/fuel/">Fuel</a>. Also, take a moment to learn more about the 
	    		<a href="http://tadpole.crawwler.org/">Tadpole PHP template engine</a> built into Furnace. </td>
	  </tr>
	</table>
</div>
</div>

<div class="pageFooter">
	Copyright &copy; 2008 <a href="http://frameworkers.org/">Frameworkers.org</a>. 
	<a href="http://furnace.frameworkers.org/">Furnace</a> is free, open-source software, made available through an <a href="http://frameworkers.org/furnace/license">MIT License</a>. 
</div>
</div>