<p>&nbsp;</p>
<div id="splash">
	<img src="[%theme]/images/furnace-retro.png" style="padding-right:0px;padding-top:1px;height:64px;border:solid 0px blue;"/>
	<img src="[%theme]/images/frameworkers.png" style="position:absolute;bottom:-61px;right:-5px;"/>
</div>
<p class="large loud">
<strong>Furnace:</strong> A rapid application development framework for PHP 5.3+
</p>
<div class="span-8">
	<ul class="linkz">
	  <li><strong>Latest Release: </strong> <span class="quiet">Pending...</span></li>
	  <li><strong>Artifacts:</strong> <span class="quiet">Tarball | Zip</span></li>	  
	</ul>
	<ul class="linkz">
	  <li><strong>Code: </strong> <a href="http://github.com/frameworkers/furnace">http://github.com/frameworkers/furnace</a></li>
	  <li><strong>License:</strong> <a href="http://furnace.frameworkers.org/license">MIT</a></li>	  
	</ul>
</div>
<div class="span-8">
	<p>Furnace is a rapid application development framework for
	   PHP 5.3+ web applications. It provides a fast, flexible framework
	   for developing applications without restriction.</p>
	   
	<p>Furnace is open source software, publicly released under the
	   <a href="[%a]/license">M.I.T. license</a>.
	   Development on Furnace is collaborative, and we warmly welcome
	   contributions of any kind. Please look at the 
	   <a href="[%a]/docs/community-guidelines">community guidelines</a>
	   and our
	   <a href="[%a]/docs/how-to-participate">how-to</a> for developers
	   interested in moving Furnace forwards.
</div>
<div class="span-8 last">
	<ul class="linkz">
	  <li><strong>Code: </strong> <a href="http://github.com/frameworkers/furnace">http://github.com/frameworkers/furnace</a></li>
	  <li><strong>License: </strong> <a href="http://furnace.frameworkers.org/license">MIT</a></li> 
	</ul>
</div>