<br/>
<div class="page">
<h2 class="ff">Welcome to Furnace!</h2>
[tp.buildinfo]
<br/><br/>
<h3 class="ff">Getting Started</h3>
<p>
 The project root directory is: <code>[tp.rootdir]</code>
</p>
<p>
 Controllers are located in <code>[tp.rootdir]/controllers/</code>
</p>
<p>
 Views are located in <code>[tp.rootdir]/views/</code>
</p>
To change the contents of this page, edit the file:
<code>
	[tp.rootdir]/views/_default/index.html
</code>
<h3 class="ff">Also Note</h3>
<p>
 You can use <a href="/fuel">Fuel</a> to manage your model &amp; data
</p>
<div class="pageFooter">
	&copy; 2008 Frameworkers.org. Furnace is Free, Open Source Software, made available through an <a href="http://frameworkers.org/furnace/license">MIT License</a>. 
</div>
</div>